.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-box input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  min-width: 200px;
}

.search-input {
  padding: 6px 12px;
  font-size: 14px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease;
  outline: none;
  width: 230px;
  background-color: white;
  color: #333;
  transform: translateX(40px);
}

.search-input:focus {
  border-color: #d32f2f;
  box-shadow: 0 0 5px #d32f2f;
  background-color: #fff;
  color: #000;
}